#container{
    margin: 10px auto;
    padding: 0px;
}

#buttons{
    width: 405px;
    margin: 10px auto;
    padding: 0px;
}
#scoreMsg{
    margin: 10px auto;
    height:100px;
    width: 400px;
}
#scoreBox{
    margin: 10px auto;
    height:100px;
    width: 400px;
}
#msgBox{
    margin: 10px auto;
    height:100px;
    width: 400px;
}
#playBtn{
    height:50px;
    width: 200px;

}
#reloadBtn{
    height:50px;
    width: 200px;
}